{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}

<title>Gametronix</title>

{% endblock stylesheet %}
{% block content %}
    {% include "include/navbar.html" %}


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <!-- ***** Banner Start ***** -->
                    <div class="main-banner">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="header-text">
                                    <h6>Welcome To Gametronix</h6>
                                    <h4>
                                        <em>Browse</em> Our Popular Games
                                        Here
                                    </h4>
                                    <div class="main-button">
                                        <a href="browse.html">Browse Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->

                    <!-- ***** Most Popular Start ***** -->
                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4><em>Most Popular</em> Right Now</h4>
                                </div>
                                <div class="row">


                                    {% for game in games %}
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="item">
                                            <a href="">
                                                <img src="{{ game.thumbnails.url }}" alt="{{game.name}}_image" />
                                                <h4>
                                                {{game.name |title }}<br /><span>{{game.type | safe }}</span>
                                            </h4></a>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                    4.8
                                                </li>
                                                <li>
                                                    <i class="fa fa-download"></i>
                                                    {{game.downloaded_set.count}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                

                                    <div class="col-lg-12">
                                        <div class="main-button">
                                            <a href="browse.html">Discover Popular</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Most Popular End ***** -->




                    <!-- ***** Gaming Clips Start Here ***** -->
                    <div class="gaming-library">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Most Popular</em> Clips</h4>
                            </div>

                            {% for clip in clips %}
                            <div class="item">
                                <ul>
                                    <li>
                                        <img src="{{ game.thumbnails.url }}" alt="" class="templatemo-item" />
                                        <img src="{% static 'assets/images/avator-01.jpg' %}" alt="" class="templatemo-item" />

                                    </li>
                                    <li>
                                        <h4>Name Of Clips</h4>
                                        <span>22/08/2023</span>
                                    </li>
                                    <li>
                                        <h4>By Ahmad</h4>
                                        <span>12k followers</span>
                                    </li>
                                    <li>
                                        <h4>Rating</h4>
                                        <span>star</span>
                                    </li>
                                    <li>
                                        <h4>Viewed</h4>
                                        <span>12.4k</span>
                                    </li>
                                    <li>
                                        <div class="main-border-button border-no-active">
                                            <a href="#">view</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            
                        
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="profile.html">Discover more</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Gaming Clips Ends Here***** -->





                    <!-- ***** Most Popular Start ***** -->
                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4><em>Most Downloaded</em> Gmaes</h4>
                                </div>
                                <div class="row">


                                    {% for game in games %}
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="item">
                                            <img src="{{ game.thumbnails.url }}" alt="" />
                                            <h4>
                                                {{game.name |title }}<br /><span>{{game.type | safe }}</span>
                                            </h4>
                                            <ul>
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                    4.8
                                                </li>
                                                <li>
                                                    <i class="fa fa-download"></i>
                                                    2.3M
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                

                                    <div class="col-lg-12">
                                        <div class="main-button">
                                            <a href="browse.html">Discover Popular</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Most Popular End ***** -->






                    <!-- ***** Gaming Library Start ***** -->
                    <div class="gaming-library">
                        {% if downloadedGames %}
                        <div class="col-lg-12">
                            <div class="heading-section">
                                
                                <h4><em>Your Gaming</em> Library</h4>
                            </div>
                            
                                {% for downloadedGame in downloadedGames %}
                            <div class="item">
                                <ul>
                                    <li>
                                        <img src="{{downloadedGame.thumbnails.url}}" alt="" class="templatemo-item" />
                                    </li>
                                    <li>
                                        <h4>{{downloadedGame.name}}</h4>
                                        <span>{{downloadedGame.type}}</span>
                                    </li>
                                    <li>
                                        <h4>Date Added</h4>
                                        <span>{{downloadedGame.date_added | date}}</span>
                                    </li>
                                    <li>
                                        <h4>Size</h4>
                                        <span>{{downloadedGame.size }} GB</span>
                                    </li>
                                    <li>
                                        <h4>Currently</h4>
                                        <span>Downloaded</span>
                                    </li>
                                    <li>
                                        <div class="main-border-button border-no-active">
                                            <a href="#" diabled>Donwloaded</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                {% endfor %}
                                         
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="profile.html">View Your Library</a>
                            </div>
                        </div>

                        {% else %}

                        <div class="heading-section">
                                
                            <h4><em>Your Gaming</em> Library</h4>
                        </div>
                            <div class="text-center">
                                <p class="mb-5"> You hav'nt downloaded any games try to Donwload now It's free </p>
                            </div>


                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="profile.html">Browse New Games</a>
                                </div>
                            </div>
                         {% endif %}
                    </div>
                    <!-- ***** Gaming Library End ***** -->
                </div>
            </div>
        </div>
    </div>


    {% include "include/footer.html" %}




{% endblock content %}
{% block javascript %}{% endblock javascript %}